# Rust
/target
**/*.rs.bk

# Editors / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Copyrighted music (do not commit). Use royalty-free songs in examples.
charts/**/*.mp3
charts/**/*.ogg
charts/**/*.wav
charts/**/*.flac
!charts/example/*.ogg

.vs/